.acivment {
  background: #ffdb00;
  border-width: 2px 2px 4px 2px;
  border-style: solid;
  border-color: #000000;
  border-radius: 10px;
  padding: 6px;
  text-align: center;
}
.aboutimage {
  height: 410px;
  width: 530px;
  margin-left: 122px;
}
