/* .card-body:hover {
  background-color: aqua;
} */

/*----  Main Style  ----*/
#cards_landscape_wrap-2 {
  /* text-align: center; */
  /* background: #f7f7f7; */
  background: #ecf0f3;
}
#cards_landscape_wrap-2 .container {
  padding-top: 80px;
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a {
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box {
  background: transparent;
  /* background: #b6b5b8; */
  overflow: hidden;
  /* box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5); */
  border-radius: 5px;
  padding: 10px;
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  /* width: 100%; */
  /* height: 200px; */
  height: 120px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  opacity: 0.7;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box {
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  padding: 30px 18px;
  min-height: 250px;
}

#cards_landscape_wrap-2 .card-flyer {
  background: #dad5d5;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}
#cards_landscape_wrap-2 .card-flyer:hover {
  /* background: #faf752; */
  background: rgba(190, 253, 119, 0.925);
  box-shadow: 0px 15px 26px rgba(39, 36, 36, 0.5);
  /* box-shadow: 20px 20px 26px rgba(36, 39, 36, 0.5); */
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Roboto Black", sans-serif;
  letter-spacing: 1px;
  color: #0f1111;
}

/* new  */

.singleservice {
  background-color: #ffffff;
  box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
  margin-bottom: 30px;
  text-align: center;
  padding: 35px 30px 40px 30px;
  border-radius: 5px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: 0.5s;
}
.singleservice::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120%;
  height: 0;
  z-index: -3;
  transition: 0.5s;
  /* background: linear-gradient(to right top, #fdb084, #ff9870, #ff7e62, #ff5f59, #ff3656); */
  /* background: #ffac00; */
  /* background: #333a65; */
  background: #1a1c27;
  /* transform: rotate(-14deg); */
}
.servicefor:hover .singleservice::before {
  height: 100%;
}
.singleservice .image {
  margin-bottom: 25px;
}
.singleservice .image a img {
  height: 140px;
}

.image a {
  text-decoration: none;
  transition: 0.5s;
  color: #202647;
}
.singleservice h3 {
  font-size: 25px;
  margin-bottom: 16px;
}
.singleservice p {
  margin-bottom: 15px;
  line-height: 1.8;
  color: #6b6b84;
  font-weight: 400;
  /* font-family: "Roboto", sans-serif; */
  font-size: 16px;
}
.bg-gradient6 {
  background: #e8fffc;
  background: -moz-linear-gradient(top, #e8fffc 0%, #fff4f4 100%);
  background: -webkit-linear-gradient(top, #e8fffc 0%, #fff4f4 100%);
  background: linear-gradient(to bottom, #e8fffc 0%, #fff4f4 100%);
}

.singleservice:hover {
  transform: translateY(-10px);
}

.singleservice:hover .image {
  /* transform:scale(1.4); */
}
.image img {
  /* box-shadow: WHITE 0px 7px 29px 0px;           */
  transition: 0.5s;
}

.singleservice:hover .image img {
  transform: scale(1.1);
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;             */
}

.singleservice:hover p {
  color: white;
}
.singleservice:hover h3 {
  /* color: #333a65; */
  color: #ffac00;
}
