.workcard {
  margin-left: 69px;
  margin-top: 21px;
  /* background-color: #ecf0f3; */
  /* background-color: var(--black-color); */
  background-color: transparent;
}
.work-wrapper {
  background-color: white;

  height: 450px;
  color: black;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(-5px);
  background-color: rgba(190, 253, 119, 0.925);
  color: black;
  /* color: white; */
}
.card-title {
  /* color: rgb(228, 105, 57); */
  color: rgb(216, 12, 12);
}
/* .card-title:hover {
  color: black;
} */
/* .card .card-title:hover {
  color: black;
} */
